@import 'tailwindcss';

@theme {
  --color-brand-blue: #1a3c6e;
  --color-brand-red: #e84525;
  --color-brand-lightgray: #f5f7fa;
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-family-body);
    color: var(--color-gray-800);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-heading);
    font-weight: 700;
  }
}
